# (probably?) used by Gem5-Aladdin
ready_mode,0
# Used by aladdin
partition,cyclic,A,400,4,1
partition,cyclic,I,400,4,1
unrolling,mat_inv,norm_cols,64
unrolling,mat_inv,sub_cols,64
pipelining,1
cycle_time,10

# instead of partitioning an array (which means it is transferred to-from accel 
# scratchpad (spad) using DMA, it is possible to use directives like the following:
# acp,A,400,4
# ^   ^  ^  ^
# |   |  |  =- size of each data entry (float = 4 bytes)
# |   |  =---- size of array (number of bytes)
# |   =------- The array in question
# =----------- use acp or cache here
#
# ACP means application coherence port, which means the data is copied but modified in a 
# memory-coherent fashing
# cache means that the memory is accessed from cache. AFAIK this does not mean a separate
# cache is created but instead that the accelerator uses the core's L1 cache for data
